<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>demo</title>
  <link rel="stylesheet" href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://static.tcy365.com/cdn/bootstrap/3.3.5/css/theme.css">
  <link rel="stylesheet" href="http://static.tcy365.com/cdn/component/miniMsg/1.4.0/src/css/miniMsg.css">
  <% if (htmlWebpackPlugin.options.prod) { %>
    <link rel="stylesheet" href="../asset/css/demo.css?v=<%= htmlWebpackPlugin.options.version %>">
  <% } %>
</head>
<body>
  <div id="demo"></div>

<script src="http://static.tcy365.com/cdn/jquery/2.1.0/jquery.js"></script>
<script src="http://static.tcy365.com/cdn/bootstrap-page/2.0.0/page.min.js"></script>
<script src="http://static.tcy365.com/cdn/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://static.tcy365.com/cdn/component/miniMsg/1.4.0/src/js/miniMsg.js"></script>

<script src="../asset/js/demo.js?v=<%= htmlWebpackPlugin.options.version %>"></script>
</body>
</html>
